<div class="main-content">
    <div class="container-fluid">
        <div class="card">
            <div class="card-header card-header-danger">
                <p class="card-category">Asignar Número Ganador</p>
            </div>
            <div class="card-body">
                <form [formGroup]="raffleForm" (ngSubmit)="onSubmit()" novalidate>
                    <div class="row">
                        <div class="col-md-12">
                            <span [ngClass]="{ 'has-error': isSubmited && raffleForm.controls['formNumber'].invalid }">
                                <mat-form-field class="example-full-width">
                                    <input matInput formControlName="formNumber" placeholder="Número Ganador" type="number" min="0" max="99" maxlength="2" style="text-align: right;">
                                </mat-form-field>
                            </span>
                            <span>
                                <div *ngIf="isSubmited && raffleForm.controls['formNumber'].errors" class="help-block">
                                    <div *ngIf="raffleForm.controls['formNumber'].errors.required" class="">Número no válido</div>
                                </div>
                            </span>
                        </div>
                            
                        <button mat-raised-button type="button" (click)="close()" class="btn btn-info pull-right">Cerrar</button>
                        <button mat-raised-button type="submit" class="btn btn-danger pull-right">Asignar Ganador</button>
                        <div class="clearfix"></div>
                    
                    </div>   
                </form>
                <div class="clearfix"></div>
        
            </div>
        </div>
    </div>
</div>