<div class="logo">
    <a class="simple-text">
        <div class="logo-img">
            <img src="/assets/img/angular2-logo-red.png"/>
        </div>
        Sorteos
    </a>
</div>
<div class="sidebar-wrapper">
  <div *ngIf="isMobileMenu()">
    
  </div>
    <ul class="nav">
       <!--
        <li routerLinkActive="active" *ngFor="let menuItem of menuItems" class="{{menuItem.class}} nav-item">
            <a class="nav-link" [routerLink]="[menuItem.path]" >
                <i class="material-icons">{{menuItem.icon}}</i>
                <p>{{menuItem.title}}</p>
            </a>
        </li>
       -->
        <li routerLinkActive="active" class="nav-item" style="cursor: pointer;">
            <a class="nav-link" [routerLink]="rafflePath">
                <i class="material-icons">casino</i>
                <p>Sorteos</p>
            </a>
        </li>
        <li *ngIf="isAdmin" routerLinkActive="active" class="nav-item" style="cursor: pointer;">
            <a class="nav-link" [routerLink]="usersPath">
                <i class="material-icons">person</i>
                <p>Usuarios</p>
            </a>
        </li>
    
        <li class="nav-item" style="cursor: pointer;">
            <a class="nav-link" (click)="logout()">
                <i class="material-icons">logout</i>
                <p>Cerrar Sesión</p>
            </a>
        </li>
    </ul>
</div>
