<div class="main-content">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-12">
                <div class="card">
                    <div class="card-header card-header-danger">
                        <h4 class="card-title ">Usuarios</h4>
                        <p class="card-category"> Usuarios y roles</p>
                    </div>
                    <div class="card-body">
                        <div class="table-responsive">
                            <table class="table">
                                <thead class=" text-primary">
                                    <th>
                                        ID
                                    </th>
                                    <th>
                                        Nombre
                                    </th>
                                    <th>
                                        Email
                                    </th>
                                    <th>
                                        Administrador
                                    </th>
                                </thead>
                                <tbody>
                                    <tr *ngFor="let user of data">
                                        <td>{{user.id}}</td>
                                        <td>{{user.displayName}}</td>
                                        <td>{{user.email}}</td>
                                        <td>
                                            <mat-slide-toggle (change)="onChangeStatus(user)" [checked]="user.adminRole" ></mat-slide-toggle>
                                        </td>
                                    </tr>
                                    
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
  </div>
  